/* #drawingsdigi {
    min-height: 100vh;
    width: 100%;

    background-color: var(--color-secondary); 
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #2C243E;

    padding-bottom: 100px;
} */

#drawingsdigi-mainCONT {
    width: 90%;
    display:flex ;
    flex-direction: column;
    justify-content: center;

    align-self: center;
}

.drawingsdigi-TXT {
    margin-top: 70px;
    
}

#drawingsdigi-drawingsCONT {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap;     */
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;

}

.drawingsdigi-drawing {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;

    /* margin-bottom: 40px; */
    width: 90%;

    margin-bottom: 20px;
}

.drawingsdigi-IMG {
    height: 100px;
    width: 100px;
    /* background-color: var(--color-primary); */
}

.drawingsdigi-txtCONT {
    margin-left: 10px;
}

@media (min-width: 768px) {
    #drawingsdigi-drawingsCONT {
        flex-wrap: wrap;
        flex-direction: row;

        justify-content: flex-start;
    }

    .drawingsdigi-txtCONT {
        width: 50%;
        margin: 20px;
    }

    .drawingsdigi-IMG {
        height: 150px;
        width: 150px;
    }

    .drawingsdigi-drawing {
        justify-content: center;
        width: 50%;
    }
}

/* .drawingsdigi-title {
    font-size: 60px;
    color: #2C243E;
}

.drawingsdigi-size {
    font-size: 40px;
    color: #2C243E;
}

.drawingsdigi-medium {
    font-size: 40px;
    color: #2C243E;
} */