#PS-mainCONT {
    min-height: 100vh;
    margin-top: 100px;
    padding-bottom: 50px;

    background-color: #100D17;

    width: 90%;

    display: flex;
    flex-direction: column;
    align-content: center;
}

#PS-projectsCONT {
    width: 90%;
    
    display: flex;
    flex-direction: column;
    align-self: center;

    /* margin-top: 30px; */
}

.PS-prjct {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    padding-top: 10px;
    padding-bottom: 10px;

    margin-top: 20px;
    margin-bottom: 20px;

    /* border-top: 1px dashed #ffffff;
    border-bottom: 1px dashed #ffffff; */
    border: 1px solid #100D17;
    border-radius: 10px;


    transition: box-shadow 0.5s ease-in-out,
    inset 0.5s ease-in-out,
    /* border-top 0.5s ease-in-out,
    border-bottom 0.5s ease-in-out, */
    border-radius 0.5s ease-in-out,
    border 0.5s ease-in-out;
}

.PS-prjct:hover {
    box-shadow: 0px 0px 10px 2px #ecff40,
    inset 0px 0px 10px 1px #ecff40;
    border: 1px solid #ecff40;
    border-radius: 20px;

    /* border-top: 1px dashed #ecff40;
    border-bottom: 1px dashed #ecff40; */

}

.PS-prjcttxtsCONT {
    width: 100%;
    text-align: center;
}

.PS-prjctIMG {
    height: 200px;
    width: 200px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 20px;
}

#PS-note {
    margin-top: 20px;

    font-size: 14px;
    color: #ecff40;
}

@media (min-width: 768px) {
    .PS-prjct {
        flex-direction: row;
    }

    .PS-prjcttxtsCONT {
        /* width: 350px; */
        text-align: left;

        margin-left: 20px;
    }

    .PS-prjctIMG {
        height: 250px;
        width: 250px;
    }
}

@media (min-width: 1440px) {
    .PS-prjcttxtsCONT {
        /* width: 350px; */
    }

    .PS-prjctIMG {
        height: 300px;
        width: 300px;
    }
}