#Home {

    background-color: transparent;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 50px;
}

#HomeintroCONT {
    min-height: 100vh;
    width: 100%;
    background: radial-gradient(50% 50% at 50% 50%, 
    #2C243E 0%, #231D32 16.83%, #100D17 85%);
}

#HomeintroCONT {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#HomeintroIMG {
    height: 200px;
    width: 200px;

    border-radius: 10%;
}

/* Image hover swap */
.image-wrapper {
    position: relative;
    height: 200px;
    width: 200px;
}

.image-wrapper img {
    height: 100%;
    width: 100%;
    border-radius: 10%;

    transition: opacity 0.4s ease, transform 0.3s ease;
}

/* Stack images */
.img-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

/* Hover effect */
.image-wrapper:hover .img-hover {
    opacity: 1;
}

.image-wrapper:hover .img-default {
    opacity: 0;
}

/* Optional polish */
.image-wrapper:hover img {
    transform: scale(1.05);
}

#HomeintronameTXT {
    font-family: "fascinate";
    text-align: center;
    font-size: 40px;

    transition: text-shadow 0.5s ease-in-out;
}

#HomeintronameTXT:hover {
    text-shadow: 0px 0px 10px #ECFF40;


}

#HomeintropositionTXT {
    text-align: center;
}



@media (min-width: 768px) {
    #HomeintroCONT {
        flex-direction: row;
    }

    #HomeintronameTXT {
        font-size: 60px;
        text-align: left;
    }

    #HomeintroTXTCONT {
        height: 200px;
        margin-left: 10px;
    }
    
    #HomeintropositionTXT {
        margin-left: 5px;
        text-align: left;
        font-size: 20px;
    }
}

@media (min-width: 1024px) {
    #HomeintronameTXT {
        font-size: 100px;
    }

    #HomeintroIMG {
        height: 300px;
        width: 300px;
    }

    .image-wrapper {
        height: 300px;
        width: 300px;
    }

    #HomeintroTXTCONT {
        height: 300px;
    }
}