#WES-mainCONT {
    min-height: 100vh;
    margin-top: 100px;
    padding-bottom: 50px;

    background-color: #100D17;

    width: 90%;

    display: flex;
    flex-direction: column;
    align-content: center;
}

#WES-expereriencesCONT {
    width: 90%;

    align-self: center;

    margin-top: 30px;
}

.WES-exp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.WES-img {
    width: 200px;
    height: 200px;

    background-color: #ffffff;

    border-radius: 10px;
    margin: 10px;
}

.WES-workttlTXT {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.WES-worklocTXT {
    text-indent: 10px;
    margin-top: 5px;
    text-align: center;
    width: 100%;
}

#WES-note {
    margin-top: 20px;

    font-size: 14px;
    color: #ecff40;
}

@media (min-width: 768px) {
    .WES-exp {
        flex-direction: row;
        justify-content: center;

        /* display: block; */
        /* text-align: left; */
    }

    .WES-workttlTXT {
        margin-left: 20px;
    }

    .WES-workttlTXT, .WES-worklocTXT {
        /* justify-content: left; */
        align-items: flex-start;
        text-align: left;
    }

    .WES-worklocTXT {
        text-indent: 40px;
    }
}

@media (min-width: 1440px) {
}