.about_me {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;

    margin-top: 100px;
}

.cont3 {
    width: 95%;
    height: 800px;
    /* background-color: pink; */
    /* background-color: yellow; */
    /* background-color: rgb(69 100 120); */
    display: flex;
    justify-content: space-around;
    /* align-content: center; */
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;
}

.aag_intro, .me_intro {
    width: 300px;
    height: 400px;

    background: rgb(16, 25, 32);
    border-radius: 30px;

    margin: 20px;

    display: flex;
    /* justify-content: space-around; */
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.aag2_img, .me_intro_img {
    margin: 20px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    /* display: flex;
    flex-wrap: wrap; */

    transition: opacity 0.3s,
    color 0.3s;
}

.aag_intro_txt, .me_intro_txt {
    margin: 0px;
    width: 300px;
    /* height: 170px; */
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
                
    color: #456478;
}

/* .me_intro_txt { */
    /* margin: 0px; */
    /* width: 350px; */
    /* height: 30px; */
    /* font-family: 'Old Standard TT'; */
    /* font-style: normal; */
    /* font-weight: 400; */
    /* font-size: 25px; */
    /* line-height: 30px; */
    /* text-align: center; */
                
    /* color: #456478; */
/* } */

.me_intro_img:hover {
    opacity: 0;
}

.glow_aag {
    transition: color 0.5s,
    text-shadow 0.5s;
}

.aag_intro:hover .glow_aag {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px rgb(247, 176, 154);
}

.me_intro:hover .mi_name{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px rgb(247, 176, 154);
}

.mi_name {
    margin: 0px;
    width: 235px;
    /* height: 130px; */
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    /* line-height: 19px; */
    text-align: center;

    color: #456478;

    transition: color 0.5s,
    text-shadow 0.5s;

}

@media (min-width:1024px) {
    .about_me {
        /* width: auto; */
        position: absolute;
        top: 100vb;
    }

    .aag_intro, .me_intro {
        height: 40rem;
        width: 25rem;
    }

    .aag2_img, .me_intro_img {
        height: 20rem;
        width: 20rem;
    }

    .aag_intro_txt, .me_intro_txt {
        font-size: 2rem;
    }
    
    .me_intro_txt {
        line-height: 2.5rem;
    }

    .mi_name {
        font-size: 4rem;
        /* height: 220px; */
    }
}

@media (min-width: 1400px) {
    .about_me {
        /* width: auto; */
        position: absolute;
        top: 100vb;
    }

    .aag_intro, .me_intro {
        height: 40rem;
        width: 25rem;
    }

    .aag2_img, .me_intro_img {
        height: 20rem;
        width: 20rem;
    }

    .aag_intro_txt, .me_intro_txt {
        font-size: 2rem;
    }
    
    .me_intro_txt {
        line-height: 2.5rem;
    }

    .mi_name {
        font-size: 4rem;
        /* height: 220px; */
    }
}

@media (min-width: 1920px) {
    .about_me {
        margin-top: 15rem;
    }

    .aag_intro, .me_intro {
        height: 50rem;
        width: 35rem;
    }

    .aag2_img, .me_intro_img {
        height: 30rem;
        width: 30rem;
        margin: 2rem;
    }

    .aag_intro_txt, .me_intro_txt {
        font-size: 3rem;
        /* height: rem; */
        /* line-height: 2rem; */
        width: 26rem;
    }
    
    .me_intro_txt {
        line-height: 3rem;
    }

    .mi_name {
        font-size: 4rem;
        /* height: 220px; */
    }
}

@media (min-width: 3840px) {
    .about_me {
        margin-top: 25rem;
    }

    .aag_intro, .me_intro {
        height: 90rem;
        width: 65rem;
        border-radius: 5rem;
    }

    .aag2_img, .me_intro_img {
        height: 50rem;
        width: 50rem;
        margin: 4rem;
        border-radius: 2rem;
    }

    .aag_intro_txt, .me_intro_txt {
        font-size: 6rem;
        /* height: 1000rem; */
        line-height: 4rem;
        width: 52rem;
    }
    
    .me_intro_txt {
        line-height: 6rem;
    }

    .mi_name {
        font-size: 8rem;
        /* height: 220px; */
    }
}
