.cont1 {
    /* background-color: gray; */
    /* height: 500px; */

    margin-top: 10px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}

.drawing_1 {
    display: none;
}

.aag_1_img {
    /* height: 100px; */
    width: 300px;
    height: 300px;
    border-radius: 10px;
    /* margin: 30px; */

}

.aag_cont {
    display: flex;

    flex-direction: column-reverse;
}

.aag_cont:hover .aag1 {
    /* background-color: blue; */
    text-shadow: 0 0 20px #F7B09A;
    color: white;
    transition-delay: 0.6s;
}

.aag_cont:hover .aag2 {
    /* background-color: blue; */
    text-shadow: 0 0 20px #F7B09A;
    color: rgb(212, 196, 172);
    transition-delay: 0.4s;
}

.aag_cont:hover .aag3 {
    /* background-color: blue; */
    text-shadow: 0 0 15px #F7B09A;
    color: rgb(170, 187, 139);
    transition-delay: 0.2s;
}

.aag_cont:hover .aag4 {
    /* background-color: blue; */
    text-shadow: 0 0 15px #F7B09A;
    color: rgb(109, 160, 124);
    /* opacity: 0.001px; */
    /* transition-delay: 0.6s; */
}

.aag1 {
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    height: 30px;
    color: rgb(247, 176, 154);

    margin: 0%;
    /* margin-top: 20px; */
    /* margin-bottom: 50px; */

}
 
.aag2 {
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    color: rgb(69, 100, 120);

    height: 30px;
    
    margin: 0%;

    text-shadow: 
                2px 2px 0 rgba(247, 176, 154, 0.75),  
               /* -1px -1px 0 rgba(247, 176, 154, 0.75), */
                1px -1px 0 rgba(247, 176, 154, 0.75),
               -2px 2px 0 rgba(247, 176, 154, 0.75);
    
}

.aag3 {
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    /* line-height: 37px; */
    color: rgb(69, 100, 120);

    height: 30px;
    
    text-shadow: 
        2px 2px 0 rgba(247, 176, 154, 0.5),  
    /* -1px -1px 0 rgba(247, 176, 154, 0.5), */
        1px -1px 0 rgba(247, 176, 154, 0.5),
        -2px 2px 0 rgba(247, 176, 154, 0.5);
    margin: 0%;
    
}

.aag4 {
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    height: 30px;
    /* margin-top: 100px; */
    /* line-height: 37px; */

    /* color: #456478; */
    color: rgb(69 100 120);

    text-shadow: 
        2px 2px 0 rgba(247, 176, 154, 0.25),  
    /* -1px -1px 0 rgba(247, 176, 154, 0.25), */
        1px -1px 0 rgba(247, 176, 154, 0.25),
        -2px 2px 0 rgba(247, 176, 154, 0.25);
    margin-top: 0px;
    /* margin-bottom: 10px; */
}

.aag1, .aag2, .aag3, .aag4 {
    transition: text-shadow 0.7s,
    color 0.7s;

    text-align: center;
}

@media (min-width: 400px) {
    .cont1 {
        margin-top: 2rem;
    }

    /* .aag_1_img {
        height: 10rem;
        width: 10rem;
    } */
}

@media (min-width: 810px) {
    .aag_1_img {
        height: 18rem;
        width: 18rem;
    }

    .aag1, .aag2, .aag3, .aag4 {
        font-size: 4rem;
        height: 2.5rem;
    }
    
    .aag1 {
        margin-top: 1rem;
        /* margin-bottom: 3100rem; */
    }
}

@media (min-width: 1024px) {
    .cont1 {
        display: inline-block;
        position: absolute;
    }

    .img_cont {
        position: absolute;
        top: 200px;
        left: 60px;
    }

    .aag_cont {
        position: absolute;
        /* margin-left: 0px; */
        left: 50px;
        /* width: auto; */
    }

    .aag_1_img {
        height: 20rem;
        width: 20rem;

        /* margin-top: 25vb;
        margin-left: 10vb; */
    }

    .aag1, .aag2, .aag3, .aag4 {
        /* margin-left: 350px; */
        /* left: 100px; */
        font-size: 8rem;
        height: 5.5rem;
        width: 60rem;
    }
    
    .aag1 {
        margin-top: 0.001rem;
    }

    .drawing_1 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        

        width: 300px;
        height: 400px;

        position: absolute;
        top: 200px;
        left: 600px;
        /* margin-top: 20vb;
        margin-left: 120vb; */

        background: #101920;
        border: 15px solid #456478;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 200px 200px 0px 0px;
    }

    /* .socmeds_1 {

    } */
}

@media (min-width: 1400px) {
    .aag_cont {
        left: 5rem;
        /* font-size: 100rem; */
    }

    .aag1, .aag2, .aag3, .aag4 {
        font-size: 10rem;
        height: 6rem;
        width: 80rem;
    }

    .drawing_1 {
        left: 60rem;
    }
}

@media (min-width: 1841px) {
    .aag_cont {
        left: 13rem;
        /* font-size: 100rem; */
    }

    .aag1, .aag2, .aag3, .aag4 {
        font-size: 14rem;
        height: 6rem;
        width: 90rem;
    }

    .img_cont {
        top: 17rem;
        left: 4rem;
    }

    .drawing_1 {
        left: 90rem;
    }
}

@media (min-width: 1920px) {
    /* .aag_1_img {
        height: 25rem;
        width: 25rem;
    } */

    .aag_1_img {
        height: 20rem;
        width: 20rem;
        border-radius: 1.5rem;
        
    }

    .img_cont {
        top: 18rem;
        left: 5rem;
    }

    .aag1, .aag2, .aag3, .aag4 {
        font-size: 15rem;
        height: 6rem;
        width: 100rem;
        margin-left: 8rem;
        /* color: black; */
    }
    
    .aag1 {
        margin-top: 0.001rem;
    }

    .drawing_1 {
        top: 10rem;
        left: 90rem;

        height: 30rem;
        width: 25rem;
    }
    

}

@media (min-width: 2560px) {
    .aag_1_img {
        height: 30rem;
        width: 30rem;
        border-radius: 1.5rem;
        
    }

    .img_cont {
        top: 20rem;
        left: 7rem;
    }

    .aag1, .aag2, .aag3, .aag4 {
        font-size: 20rem;
        height: 10rem;
        width: 10rem;
        margin-left: 12rem;
        /* color: black; */
    }

    .drawing_1 {
        top: 15rem;
        left: 95rem;

        height: 40rem;
        width: 35rem;
    }
}

@media (min-width: 3840px) {
    .cont1 {
        margin: 1.5rem;
    }

    .aag_cont {
        left: 10rem;
    }

    .img_cont {
        top: 40rem;
        left: 15rem;
    }

    .aag_1_img {
        height: 50rem;
        width: 50rem;
        border-radius: 2.5rem;
    }

    .aag1, .aag2, .aag3, .aag4 {
        font-size: 30rem;
        height: 15rem;
        width: 200rem;
        /* color: black; */
    }

    .drawing_1 {
        top: 30rem;
        left: 170rem;

        height: 70rem;
        width: 55rem;
        border-radius: 25rem 25rem 0px 0px;
    }
}
