@font-face {
  font-family: "courierprime-bold";
  src: url('./fonts/courierprime/CourierPrime-Bold.ttf');
}

@font-face {
  font-family: "courierprime-regular";
  src: url('./fonts/courierprime/CourierPrime-Regular.ttf');
}

@font-face {
  font-family: "fascinate";
  src: url('./fonts/fascinate/Fascinate-Regular.ttf');
}

body {
  position: relative;
}


* {
  padding: 0px;
  margin: 0px;
  font-family: "courierprime-regular";
  text-decoration: none;

  color: #ffffff;

  max-width: 1720px;
}

h1, h2 {
  color: #ECFF40;
}

#root {
  width: 100%;
  min-height: 100vh;
  background-color: #100D17;
}

.PageSectionH1 {
  margin-left: 5%;
  /* margin-top: 20px; */
  
}