@font-face {
  font-family: "courierprime-bold";
  src: url('./fonts/courierprime/CourierPrime-Bold.ttf');
}

@font-face {
  font-family: "courierprime-regular";
  src: url('./fonts/courierprime/CourierPrime-Regular.ttf');
}

@font-face {
  font-family: "fascinate";
  src: url('./fonts/fascinate/Fascinate-Regular.ttf');
}

html {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  position: relative;

  

  background-color: #100D17;

  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;

}


* {
  padding: 0px;
  margin: 0px;
  font-family: "courierprime-regular";
  text-decoration: none;

  color: var(--color-secondary);

  max-width: 1720px;
}

.section {
  border: 1px dashed var(--color-secondary);
  border-radius: 10px;

  padding-top: 20px;

  /* max-height: 642px; */

}

h1, h2 {
  color: var(--color-primary);
}

#root {
  width: 100%;
  min-height: 100vh;
  background-color: #100D17;
}

.PageSectionH1 {
  margin-left: 5%;
  /* margin-top: 20px; */
  font-family: "fascinate";
  font-size: 40px;
  
}

.link {
  font-size: 12px;
  font-weight: bolder;

  align-self: center;

  text-align: center;
  
  padding: 10px;

  /* background-color: var(--color-secondary); */

  /* color: #100D17; */

  border: 2px solid var(--color-primary);
  border-radius: 20px;

  background-color: var(--color-primary);
  color: #100D17;

  /* margin-top: 20px; */

  width: 250px;

  transition: border 0.1s ease-in-out,
  box-shadow 0.1s ease-in-out,
  border-radius 0.1s ease-in-out;

  margin-top: auto;
}

.link:hover {
  border: 2px solid var(--color-secondary)65;
  box-shadow: 0px 0px 10px 1px var(--color-primary);
  border-radius: 10px;
}

.PAGE {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  width: 100%;
  min-height: 100vh;
}

.mainCONT {
  width: 90%;

  display: flex;
  flex-direction: column;

  margin-bottom: 40px;

  align-self: center;
}

.page-note {
  display: flex;
  width: 90%;
  align-self: center;
  text-align: center;
  
  
  border: 1px solid var(--color-primary);
  border-radius: 25px;
  box-shadow: inset 0px 0px 10px 0.01px var(--color-primary);

  padding: 10px;
  padding-top: 50px;
  padding-bottom: 50px;


}

.PAGE-TITLE {
  font-family: "fascinate";
  font-size: 35px;

  margin-bottom: 30px;
}

@media (min-width:1024px) {
  .PageSectionH1, .PAGE-TITLE {
    font-size: 60px;
  }

  p, li {
   font-size: 20px; 
  }

  h3 {
    font-size: 25px;
  }

  .link {
    font-size: 18px;
    width: 300px;
  }
}

@media (min-width:1440px) {
  .PAGE-TITLE {
    font-size: 60px;
  }

  p {
   font-size: 24px; 
  }

  h3, h2 {
    font-size: 35px;
  }

  .link {
    /* font-size: 24px; */
    width: 350px;
  }
}

.mainCONT {
    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--color-secondary);

    padding-bottom: 100px;
}


