@font-face {
  font-family: "courierprime-bold";
  src: url('./fonts/courierprime/CourierPrime-Bold.ttf');
}

@font-face {
  font-family: "courierprime-regular";
  src: url('./fonts/courierprime/CourierPrime-Regular.ttf');
}

@font-face {
  font-family: "fascinate";
  src: url('./fonts/fascinate/Fascinate-Regular.ttf');
}

body {
  position: relative;
}


* {
  padding: 0px;
  margin: 0px;
  font-family: "courierprime-regular";
  text-decoration: none;
}

main {
  width: 100%;
  min-height: 100vh;

  /* background-color: yellow; */
  margin-bottom: 200px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}